# Introduction to Python programming

## Operators and comparisons

Most operators and comparisons in Python work as one would expect:

* Arithmetic operators `+`, `-`, `*`, `/`, `//` (integer division), '**' power

In [1]:
print(1 + 2, 1 - 2, 1 * 2, 1 / 2)

3 -1 2 0.5

In [2]:
print(1.0 + 2.0, 1.0 - 2.0, 1.0 * 2.0, 1.0 / 2.0)

3.0 -1.0 2.0 0.5

In [3]:
# Integer division of float numbers
print(3.0 // 2.0)

1.0

In [4]:
# Note! The power operators in python isn't ^, but **
print(2**2)

4

Note: The `/` operator always performs a floating point division in Python 3.x.
This is not true in Python 2.x, where the result of `/` is always an integer if the operands are integers.
to be more specific, `1/2 = 0.5` (`float`) in Python 3.x, and `1/2 = 0` (`int`) in Python 2.x (but `1.0/2 = 0.5` in Python 2.x).

* The boolean operators are spelled out as the words `and`, `not`, `or`.

In [5]:
print(True and False)

False

In [6]:
print(not False)

True

In [7]:
print(True or False)

True

* Comparison operators `>`, `<`, `>=` (greater or equal), `<=` (less or equal), `==` equality, `is` identical.

In [8]:
# equality
print([1, 2] == [1, 2])

True

In [9]:
# objects identical?
l1 = l2 = [1, 2]

print(l1)

[1, 2]

## Compound types: Strings, List and dictionaries

### Strings

Strings are the variable type that is used for storing text messages.

In [10]:
s = """Hello world"""
print(s)

Hello world

In [11]:
# length of the string: the number of characters
print(len(s))

11

In [1]:
# replace a substring in a string with somethign else
str2 = "I am teaching DS-D, DS-B and DS-N"
s2 = str2.replace("DS", "AI")
print(s2)

I am teaching AI-D, AI-B and AI-N

We can index a character in a string using `[]`:

In [13]:
print(str2[0])

I

**Heads up MATLAB users:** Indexing start at 0!

We can extract a part of a string using the syntax `[start:stop]`, which extracts characters between index `start` and `stop` -1 (the character at index `stop` is not included):

In [14]:
print(str2[1:5])

 am

In [15]:
print(s[4:5])

o

If we omit either (or both) of `start` or `stop` from `[start:stop]`, the default is the beginning and the end of the string, respectively:

In [16]:
print(str2[:8])

I am tea

In [17]:
print(s[6:])

world

In [18]:
print(s[:])

Hello world

We can also define the step size using the syntax `[start:end:step]` (the default value for `step` is 1, as we saw above):

In [19]:
print(s[::3])

Hlwl

In [20]:
print(s[:2:2])

H

This technique is called *slicing*. Read more about the syntax here: http://docs.python.org/release/2.7.3/library/functions.html?highlight=slice#slice

Python has a very rich set of functions for text processing. See for example http://docs.python.org/2/library/string.html for more information.

#### String formatting examples

In [21]:
print("str1", "str2", "str3")  # The print statement concatenates strings with a space

str1 str2 str3

In [22]:
print("str1", 1.0, False, -1j)  # The print statements converts all arguments to strings

str1 1.0 False (-0-1j)

In [23]:
print("str1" + "str2" + "str3")  # strings added with + are concatenated without space

str1str2str3

In [24]:
print("value = %f" % 1.0)  # we can use C-style string formatting

value = 1.000000

In [25]:
# this formatting creates a string
s2 = "value1 = %.2f. value2 = %d" % (3.1415, 1.5)

print(s2)

value1 = 3.14. value2 = 1

In [26]:
# alternative, more intuitive way of formatting a string
s3 = "value1 = {0}, value2 = {1}".format(3.1415, 1.5)

print(s3)

value1 = 3.1415, value2 = 1.5

### List

Lists are very similar to strings, except that each element can be of any type.

The syntax for creating lists in Python is `[...]`:

In [27]:
l = [1, 2, 3, 4]
print(type(l))
print(l)

<class 'list'>
[1, 2, 3, 4]

We can use the same slicing techniques to manipulate lists as we could use on strings:

In [28]:
print(l)

print(l[1:3])

print(l[::2])

print(l[0])

[1, 2, 3, 4]
[2, 3]
[1, 3]
1

**Heads up MATLAB users:** Indexing starts at 0!

In [29]:
print(l[0])

1

Elements in a list do not all have to be of the same type:

In [30]:
l = [1, "a", 1.0, 1 - 1j]

print(l)

[1, 'a', 1.0, (1-1j)]

Python lists can be inhomogeneous and arbitrarily nested:

In [31]:
nested_list = [1, [2, [3, [4, [5]]]]]

print(nested_list[1][1][1][1])

[5]

Lists play a very important role in Python. For example they are used in loops and other flow control structures (discussed below). There are a number of convenient functions for generating lists of various types, for example the `range` function:

In [32]:
start = 10
stop = 30
step = 2

print(range(start, stop, step))

range(10, 30, 2)

In [33]:
# in python 3 range generates an interator, which can be converted to a list using 'list(...)'.
# It has no effect in python 2
print(list(range(start, stop, step)))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [34]:
print(list(range(-10, 10)))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
print(s)

Hello world

In [36]:
# convert a string to a list by type casting:
s2 = "my name is mohamamd anas"
s2 = s2.split()

print(s2[2])

is

In [37]:
# sorting lists
s2.sort()

print(s2)

['anas', 'is', 'mohamamd', 'my', 'name']

#### Adding, inserting, modifying, and removing elements from lists

In [38]:
# create a new empty list
l = []

# add an elements using `append`
l.append("A")
l.append("d")
l.append("d")

print(l)

['A', 'd', 'd']

We can modify lists by assigning new values to elements in the list. In technical jargon, lists are *mutable*.

In [39]:
l[1] = "p"
l[2] = "p"

print(l)

['A', 'p', 'p']

In [40]:
l[1:3] = ["d", "d"]

print(l)

['A', 'd', 'd']

Insert an element at an specific index using `insert`

In [41]:
l.insert(0, "i")
l.insert(1, "n")
l.insert(2, "s")
l.insert(3, "e")
l.insert(4, "r")
l.insert(5, "t")
l.insert(3, "l")
print(l)

['i', 'n', 's', 'l', 'e', 'r', 't', 'A', 'd', 'd']

Remove first element with specific value using 'remove'

In [42]:
l.remove("A")

print(l)

['i', 'n', 's', 'l', 'e', 'r', 't', 'd', 'd']

Remove an element at a specific location using `del`:

In [43]:
del l[7]
del l[6]

print(l)

['i', 'n', 's', 'l', 'e', 'r', 'd']

See `help(list)` for more details, or read the online documentation

### Tuples

Tuples are like lists, except that they cannot be modified once created, that is they are *immutable*.

In Python, tuples are created using the syntax `(..., ..., ...)`, or even `..., ...`:

In [44]:
point = (10, 20)

print(point, type(point))

(10, 20) <class 'tuple'>

In [45]:
point = 10, 20

print(point, type(point))

(10, 20) <class 'tuple'>

We can unpack a tuple by assigning it to a comma-separated list of variables:

In [46]:
x, y = point

print("x =", x)
print("y =", y)

x = 10
y = 20

If we try to assign a new value to an element in a tuple we get an error:

### Dictionaries

Dictionaries are also like lists, except that each element is a key-value pair. The syntax for dictionaries is `{key1 : value1, ...}`:

In [47]:
params = {
    "parameter1": 1.0,
    "parameter2": 2.0,
    "parameter3": 3.0,
}


# print type(params)


# print params

We can access the values using keys

In [48]:
print("parameter1 = ", params["parameter1"])
print("parameter2 = ", params["parameter2"])
print("parameter3 = ", params["parameter3"])

parameter1 =  1.0
parameter2 =  2.0
parameter3 =  3.0

In [49]:
params["parameter1"] = "A"
params["parameter2"] = "B"

# add a new entry
params["parameter4"] = "D"

print("parameter1 = ", params["parameter1"])
print("parameter2 = ", params["parameter2"])
print("parameter3 = ", params["parameter3"])
print("parameter4 = ", params["parameter4"])

parameter1 =  A
parameter2 =  B
parameter3 =  3.0
parameter4 =  D

If the key dost not exists, it will through an exception

### Default Dictionary

A defaultdict works exactly like a normal dict, but it is initialized with a function (“default factory”) that takes no arguments and provides the default value for a nonexistent key.

A defaultdict will never raise a KeyError. Any key that does not exist gets the value returned by the default factory. For example consider the following example with the default value as 'Vanilla'.

**Note : ** Since default dictionary takes a function as argument, be sure to pass the function object to defaultdict(). Do not call the function.
    - Correct   :  defaultdict(func)
    - Incorrect :  defaultdict(func()).

In [50]:
from collections import defaultdict


# A function providing default values


def values():
    return "Vanilla"



# Making an object of the default diictionary with the function defined ablove


ice_cream = defaultdict(values)



# assigning values with keys



ice_cream["Sarah"] = "Chunky Monkey"


ice_cream["Abdul"] = "Butter Pecan"



# accessing the value of a key that exists



print(ice_cream["Sarah"])



# accessing the value of a key that do not exists, will print default value



print(ice_cream["Joe"])

Chunky Monkey
Vanilla

###Nested Dictionary

In [51]:
# Nested dictionary representing teacher and student data
data_science_school = {
    "Teacher1": {
        "name": "Dr. Smith",
        "students": {
            "Student1": {"name": "Alice", "age": 25, "grade": "A"},
            "Student2": {"name": "Bob", "age": 24, "grade": "B"},
        },
    },
    "Teacher2": {
        "name": "Prof. Johnson",
        "students": {
            "Student3": {"name": "Charlie", "age": 26, "grade": "A+"},
            "Student4": {"name": "David", "age": 23, "grade": "B+"},
        },
    },
}

In [52]:
# Accessing data in the nested dictionary
teacher_name = data_science_school["Teacher1"]["name"]
student_name = data_science_school["Teacher1"]["students"]["Student1"]["name"]
student_grade = data_science_school["Teacher1"]["students"]["Student1"]["grade"]

print(f"Teacher: {teacher_name}")
print(f"Student: {student_name}")
print(f"Student's Grade: {student_grade}")

Teacher: Dr. Smith
Student: Alice
Student's Grade: A

## Control Flow

### Conditional statements: if, elif, else

The Python syntax for conditional execution of code uses the keywords `if`, `elif` (else if), `else`:

In [53]:
statement1 = False
statement2 = False

if statement1:
    print("statement1 is True")

elif statement2:
    print("statement2 is True")

else:
    print("statement1 and statement2 are False")

statement1 and statement2 are False

#### Examples:

In [54]:
statement1 = statement2 = True

if statement1:
    if statement2:
        print("both statement1 and statement2 are True")

both statement1 and statement2 are True

In [55]:
statement1 = False

if statement1:
    print("printed if statement1 is True")

    print("still inside the if block")

In [56]:
if statement1:
    print("printed if statement1 is True")

print("now outside the if block")

now outside the if block

## Loops

In Python, loops can be programmed in a number of different ways. The most common is the `for` loop, which is used together with iterable objects, such as lists. The basic syntax is:

### **`for` loops**:

In [57]:
for x in [1, 2, 3]:
    print(x)

1
2
3

The `for` loop iterates over the elements of the supplied list, and executes the containing block once for each element. Any kind of list can be used in the `for` loop. For example:

In [58]:
for x in range(4):  # by default range start at 0
    print(x, end=" ")

0 1 2 3

Note: `range(4)` does not include 4 !

In [59]:
for x in range(-3, 3):
    print(x)

-3
-2
-1
0
1
2

In [60]:
for word in ["scientific", "computing", "with", "python"]:
    print(word)

scientific
computing
with
python

To iterate over key-value pairs of a dictionary:

In [61]:
for key, value in params.items():
    print(key + " = " + str(value))
    # print(value)

parameter1 = A
parameter2 = B
parameter3 = 3.0
parameter4 = D

Sometimes it is useful to have access to the indices of the values when iterating over a list. We can use the `enumerate` function for this:

In [62]:
for idx, i in enumerate(range(-3, 3)):
    print(idx, i)

0 -3
1 -2
2 -1
3 0
4 1
5 2

The reversed() function returns a reverse iterator, which you can use to iterate over elements in reverse order.

In [63]:
my_list = [1, 2, 3, 4, 5]

for item in reversed(my_list):
    print(item)

5
4
3
2
1

To print every second element of a list using a for loop in Python, you can use slicing. Here's how you can do it:

In [64]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in range(1, len(my_list), 2):
    print(my_list[i])

2
4
6
8

### List comprehensions: Creating lists using `for` loops:

A convenient and compact way to initialize lists:

In [88]:
x = 1
l1 = [range(0, 5)]

l1

[range(0, 5)]

### `while` loops:

In [66]:
i = 0

while i < 5:
    print(i)

    i = i + 1

print("done")

0
1
2
3
4
done

Note that the `print("done")` statement is not part of the `while` loop body because of the difference in indentation.

## Functions

A function in Python is defined using the keyword `def`, followed by a function name, a signature within parentheses `()`, and a colon `:`. The following code, with one additional level of indentation, is the function body.

In [67]:
def func0():
    print("test")

In [68]:
func0()

test

Optionally, but highly recommended, we can define a so called "docstring", which is a description of the functions purpose and behaivor. The docstring should follow directly after the function definition, before the code in the function body.

In [69]:
def func1(s):
    """
    Print a string 's' and tell how many characters it has
    """

    x = 2 + 2

    # print (s + " has " + str(len(s)) + " characters")

In [70]:
func1(2)

In [71]:
func1("test")

Functions that returns a value use the `return` keyword:

In [72]:
def square(x):
    """
    Please use int datatype
    """
    return x**2

In [73]:
print(square(2))

4

In [74]:
help(square)

Help on function square in module __main__:

square(x)
    Please use int datatype

We can return multiple values from a function using tuples (see above):

In [75]:
def powers(x):
    """
    Return a few powers of x
    """
    return x**2, x**3, x**4

In [76]:
answer1, answer2, answer3 = powers(3)

In [77]:
print(answer1)

9

In [78]:
print(powers(3))

(9, 27, 81)

In [79]:
x2, x3, x4 = powers(3)

print(x4)

81

### Default argument and keyword arguments

In a definition of a function, we can give default values to the arguments the function takes:

In [80]:
def myfunc(x, p=2, debug=False):
    if debug:
        print("evaluating myfunc for x = " + str(x) + " using exponent p = " + str(p))
    return x**p

If we don't provide a value of the `debug` argument when calling the the function `myfunc` it defaults to the value provided in the function definition:

In [81]:
print(myfunc(5))

25

In [82]:
print(myfunc(5, debug=True))

evaluating myfunc for x = 5 using exponent p = 2
25

If we explicitly list the name of the arguments in the function calls, they do not need to come in the same order as in the function definition. This is called *keyword* arguments, and is often very useful in functions that takes a lot of optional arguments.

In [83]:
print(myfunc(p=3, debug=True, x=7))

evaluating myfunc for x = 7 using exponent p = 3
343

### Unnamed functions (lambda function)

In Python we can also create unnamed functions, using the `lambda` keyword:

In [84]:
f1 = lambda x: x**2

# is equivalent to


def f2(x):
    return x**2

In [85]:
print(f1(2), f2(2))

4 4

This technique is useful for example when we want to pass a simple function as an argument to another function, like this:

In [86]:
# map is a built-in python function
print(map(lambda x: x**2, range(-3, 4)))

<map object at 0x000002B97AE4F130>

In [87]:
# in python 3 we can use `list(...)` to convert the iterator to an explicit list
l1 = list(map(lambda x: x**2, range(-3, 4)))

## Further reading

* http://www.python.org - The official web page of the Python programming language.
* http://www.python.org/dev/peps/pep-0008 - Style guide for Python programming. Highly recommended.
* http://www.greenteapress.com/thinkpython/ - A free book on Python programming.
* [Python Essential Reference](http://www.amazon.com/Python-Essential-Reference-4th-Edition/dp/0672329786) - A good reference book on Python programming.